.ReactTags__tagInput {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  height: 40px;
  min-width: 50%;
  max-width: 174px;
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  border-width: 1px;
  background-color: white;
  margin-bottom: 10px;
}

.ReactTags__tagInput:hover {
  border-color: #cbd5e0;
}

.ReactTags__tagInput:focus-within {
  border-color: #000000;
  box-shadow: 0 0 0 1px #000000;
}

.ReactTags__tagInputField {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #2d3748;
  background: transparent;
}

.ReactTags__tag {
  background-color: #66aae9;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.ReactTags__tag:hover {
  background-color: #e2e8f0;
}

.ReactTags__remove {
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.ReactTags__suggestions {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
  padding: 8px 0;
  z-index: 10;
}

.ReactTags__suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ReactTags__suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  color: #2d3748;
}

.ReactTags__suggestions li:hover {
  background-color: #e2e8f0;
  color: #2c5282;
}

.ReactTags__activeSuggestion {
  background-color: #bee3f8;
  color: #2c5282;
  font-weight: bold;
}
